header{
    font-family: Arial;
    background-color: #003366;
    margin: 20px;
    color: #aec3e3;
    text-align: center;
}
header h1{
  line-height: 200%;  
  text-indent: 1em;
}
nav{
  font-weight:bold;

}
main{
    color: #003366;
    font-family: Verdana; 
}
   li{
    color: #5280c5;
    text-indent: 1.1em;
    font-family: Georgia;
  }
  #wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
.category{
  font-weight: bold;
  color: #5280c5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
  font-size: .70em;
  font-style: italic;
}
